body {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.app{
  max-width:300px;
  text-align:center;
  margin:40px auto;
}
.app h1{
  color:#f38020
}
input{
  padding:10px 10px;
  border:1px solid #f38020;
  border-radius:5px;
  outline: none;
  text-align: right;
  font-size:14px;
}
small{
  color: #f38020;
}

button{
  padding:10px 30px;
  border-radius:5px;
  outline: none;
  background: #f38020;
  color: #fff;
  border:none;
}

button:hover{
  background: #8d4408;
  color:#fff;
  cursor:pointer;
}